{% extends 'core/base.html' %}
{% load menu_dashboard %}
{% block title %} Дашборд {% endblock %}
{% block content %}

<body class="bg-gray-200">

{% menu_dashboard %}

        <!-- Main content area -->
    <div class="flex">
        <!--Top navbar-->
        <div>
            <div class="bg-white px-2 py-0.5 h-18 flex">
            <div class="left md:w-3/4 sm:w-1/3 flex p-3">
<!--                <img src="/media/dashboard_images/tyre.png" class="w-10 h-10" alt="">-->
                <span class="block p-2 text-xl">Ваши сохраненные, {{ user.get_username }}</span>
            </div>
                <div class="right flex content-end">
                    <img src="/media/dashboard_images/search.png" class="w-7 h-7 bg-gray-100 rounded-full p-1 mx-2 my-4" alt="">
                    <a class="mt-4 mx-1 text-indigo-500" href="">Выход</a>
                </div>
            </div>

            <!-- site banner-->
            <div class="card-container flex m-7 space-x-6">

            </div>
            <div class="mt-4 px-6 py-5 bg-gray-100 rounded-xl">
    <h2 class="mb-3 text-2xl text-center">У Вас {{ posts.count }} сохраненных постов, {{ user.get_username }}:</h2>
    <div class="grid grid-cols-4 gap-3">
        {% for post in posts %}
        <div>
            <a href="{% url 'blog:blogpost_detail' post.slug %}">
                <div class="relative overflow-hidden">
                    <img class="h-44 w-full object-cover " src="{{ post.image_url|default_if_none:'/media/item_images/default.png' }}" alt="">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-xl">{{ post.title }}</h2>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
        </div>
    </div>
</div>
</body>

{% endblock %}