{% extends 'core/base.html' %}

{% block title %} {% firstof user.get_full_name user.username %} {% endblock %}
{% block content %}


<section class="text-gray-600 body-font">
  <div class="container py-12 mx-auto flex flex-col">
      <div class="grid sm:grid-cols-2">
          <h2 class="text-2xl sm:col-start-2">Другие товары от пользователя <strong class="text-indigo-500">{{ user.get_username }}</strong>:</h2>
</div>
    <div class="mx-auto">
      <div class="flex flex-col sm:flex-row mt-4">
        <div class="sm:w-2/5 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <img class="rounded-full" src="{{ user.profile.photo.url }}" alt="">
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">{{ user.get_username }}</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
              <p>В сети: {{ user.last_login }}</p>
              <p class="mb-6">На race-marketplace: с {{ user.date_joined.date}}</p>

          </div>
        </div>

          <!--Items loop-->
      <div class="flex flex-wrap mt-2">
       {% for item in items %}
      <div class="{% if items.count <= 1 %} lg:w-2/2 md:w-2/2 {% else %} lg:w-1/3 md:w-1/2 {% endif %} p-1 w-full overflow-hidden relative">
        <a {% if item.is_sold == False %} href="{% url 'item:detail' item.category.slug  item.pk %}" {% else %} {% endif %} class="block relative rounded overflow-hidden">
            <img alt="{{ item.name }}" class="h-48 w-full {% if item.is_sold == True %} blur-sm {% else %} {% endif %} object-cover object-center block rounded-t-xl" src="{{ item.image_url|default_if_none:'/media/item_images/default.png' }}">
          {% if item.is_sold == True %}
              <div class="absolute w-full py-5 bottom-0 inset-x-0 bg-gray-400 text-white text-base text-center leading-4">Продано</div>
          {% else %} {% endif %}
            <div class="bg-gray-100 rounded-b-xl p-2">
          <h3 class="text-gray-700 text-xs tracking-widest title-font"> {{ item.category }}</h3>
          <h2 class="text-gray-700 title-font text-base font-medium">{{ item.name }}</h2>
          <p class="text-sm mb-1 text-gray-500 dark:text-gray-400"><span class="mr-1 text-base font-semibold text-gray-700">{% if item.is_usd == True %}${{ item.price|floatformat:0 }}{% else %}{{ item.price|floatformat:0 }} BYN{% endif %} <span class="text-sm font-normal ml-2"> {{ item.location }} обл.</span></p>
		</div>
			</a>
      </div>
      {% endfor %}
    </div>
<!--End items loop-->
        </div>
      </div>
    </div>
  </div>
</section>


    {% endblock %}