{% extends 'core/base.html' %}

{% block title %} {% firstof user.get_full_name user.username %} {% endblock %}
{% block content %}

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <p><b>О пользователе:</b></p>
    <p>Был в сети: {{ user.last_login}}</p>
    <p class="mb-6">На race-marketplace с: {{ user.date_joined.date}}</p>
    <h2 class="mb-12 text-2xl text-center">Другие товары от пользователя <b>{{ user.get_username }}</b>:</h2>
    <div class="grid grid-cols-5 gap-3">
        {% for item in items %}
        <div>
            <a href="{% url 'item:detail' item.category.slug item.pk %}">
                <div class="relative overflow-hidden">
                    <img class="h-44 w-full object-cover {% if item.is_sold == True %} blur-sm {% else %} {% endif %}" src="{{ item.image_url|default_if_none:'/media/item_images/default.png' }}" alt="">
                          {% if item.is_sold == True %}
                          <div class="absolute w-full py-2.5 bottom-0 inset-x-0 bg-gray-400 text-white text-base text-center leading-4">Продано</div>
                      {% else %} {% endif %}
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-xl">{{ item.name }}</h2>
                    <p class="text-gray-500">{{ item.price|floatformat:0 }} BYN</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

    {% endblock %}