{% extends 'core/base.html' %}
{% load menu %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}

{% menu %}

  <div class="container mx-auto">
    <div class="flex flex-wrap mt-2">
      <!--Categories loop-->
        {% for subcategory in category.children.all %}
      <div class="lg:w-1/5 md:w-1/2 p-1 w-full">
        <!-- OLD url  <a href="{% url 'item:items' %}?query={{ query }}&category={{ subcategory.id }}" class="block relative rounded overflow-hidden"> -->
        <!-- OLD url  <a href="{% url 'item:items' %}?query={{ query }}&category={{ subcategory.id }}" class="block relative rounded overflow-hidden"> -->
        <a href="{% url 'item:category_detail' subcategory.slug %}" class="block relative rounded overflow-hidden">
          <img alt="{{ item.name }}" class="h-48 w-full object-cover object-center block rounded-t-xl" src="{{ subcategory.image_url|default_if_none:'/media/item_images/default.png' }}">

        <div class="bg-gray-100 rounded-b-xl p-2">
          <h3 class="text-gray-500 text-xs tracking-widest title-font">Объявлений: {{ subcategory.items.count }}</h3>
          <h2 class="text-gray-700 title-font text-base font-medium">{{ subcategory.name }}</h2>
		</div>
			</a>
      </div>
      {% endfor %}
      <!--End Categories loop-->
      </div>

  <div class="container mx-auto">
    <div class="flex flex-wrap mt-2">
      <!--Items loop-->
       {% for item in items %}
      <div class="lg:w-1/5 md:w-1/2 p-1 w-full">
        <a href="{% url 'item:detail' item.category.slug  item.pk %}" class="block relative rounded overflow-hidden">
          <img alt="{{ item.name }}" class="h-48 w-full object-cover object-center block rounded-t-xl" src="{{ item.image_url|default_if_none:'/media/item_images/default.png' }}">

        <div class="bg-gray-100 rounded-b-xl p-2">
          <h3 class="text-gray-500 text-xs tracking-widest title-font"> {{ item.category }}</h3>
          <h2 class="text-gray-700 title-font text-base font-medium">{{ item.name }}</h2>
          <p class="text-sm mb-1">${{ item.price|floatformat:0 }}</p>
		</div>
			</a>
      </div>
      {% endfor %}
      <!--End items loop-->
      </div>
  </div>
</div>
    </div>
  </div>


{% endblock %}






