  <div id="menu" class="pb-6 grid grid-cols-5 gap-4 bg-gray-100">
    <div class="col-span-1 w-64">
      <form action="{% url 'item:items' %}" method="get">
        <input name="query" class="w-36 py-2 px-2 border rounded-xl ml-1 mt-4" type="text" value="{{ query }}" placeholder="Поиск">
        <button class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 font-medium rounded-xl text-sm px-2 py-2.5">Искать</button>
        </input>

      </form>
        <hr class="my-3">
        <p class="font-semibold ml-4">Категории:</p>
        <ul>
            {% for category in categories %}
            {% if category.children.all %}
            <li class="w-32 px-2 ml-5 rounded-xl {% if category.id == category_id %} text-blue-500 bg-gray-200 {% endif %}">
                <a class="hover:text-blue-500" href="{% url 'item:category_detail' category.slug %}">{{ category.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr class="my-3">
            <p class="font-semibold ml-4">Бренды авто:</p>
        <ul>
<!--            {% for category in categories %}-->
<!--            <li>{{ category.name }}</li>-->
<!--            {% endfor %}-->
                      {% for category in categories %}
          {% if category.id == category_id %}
        <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"> {{ category.name }}</a>
           {% endif %}
          {% endfor %}

            {% for category in categories %}
            {% if not category.children.all %}
            {% if category.slug == cars %}
            <li class="w-32 px-2 ml-5 rounded-xl {% if category.id == category_id %} text-blue-500 bg-gray-200 {% endif %}">
                <a class="hover:text-blue-500" href="{% url 'item:items' %}">{{ category.name }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        <hr class="my-3">
            <a href="{%url 'item:items' %}">
        <button type="button" class="ml-4 text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Сбросить фильтры</button>
        </a>
  </div>
