{% extends 'core/base.html' %}


{% block content %}

<div class="grid grid-cols-2 gap-16">
      <div class="mr-16" id="calendar"></div>
            <div>
                  <h2 class="text-2xl">Гоночные мероприятия в Республике Беларусь 2024</h2>
                  <p>Календарь автомобильных мероприятий разделен на несколько категорий:</p>
                  <ul class="list-disc">
                        <li>Трек-дни от 22RT - Желтый</li>
                        <li>Соревнования по дрифту - Зеленый</li>
                        <li>Соревнования по тайм-аттак - Синий</li>
                        <li>Выставки  - Синий</li>


                  </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi esse explicabo, laborum laudantium libero odio quia vitae? Assumenda autem commodi consequuntur ea eaque magnam quisquam rem reprehenderit temporibus tenetur?</p>
                  <h2 class="text-2xl">Заголовок 2</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi esse explicabo, laborum laudantium libero odio quia vitae? Assumenda autem commodi consequuntur ea eaque magnam quisquam rem reprehenderit temporibus tenetur?</p>

            </div>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.min.js" integrity="sha512-JCQkxdym6GmQ+AFVioDUq8dWaWN6tbKRhRyHvYZPupQ6DxpXzkW106FXS1ORgo/m3gxtt5lHRMqSdm2OfPajtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.js" integrity="sha512-bBl4oHIOeYj6jgOLtaYQO99mCTSIb1HD0ImeXHZKqxDNC7UPWTywN2OQRp+uGi0kLurzgaA3fm4PX6e2Lnz9jQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
            <script type="text/javascript">
              document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridMonth',
                  eventContent: { html: '<i>title</i>' },
                      timeZone: 'UTC',
                      events: [
                        {
                          id: 'ag',
                          title: 'my event',
                          start: '2024-02-15',
                            end: '2024-02-18',
                            url: 'http://127.0.0.1:8000/blog/drag-event/',
                        },
                          {
                          id: 'a',
                          title: 'Eventtt',
                          start: '2024-02-12'
                        }
                      ],
                    eventColor: '#378006',
                });
                calendar.render();
              });
    </script>
{% endblock %}

