{% extends 'core/base.html' %}

{% block title %} О нас {% endblock %}
{% block content %}
<div class="md:container md:mx-auto">
<h2 class="mb-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">Маркетплейс, где собраны <span class="text-blue-600 dark:text-blue-500">гоночные</span> объявления</h2>
</div>


<section class="md:container md:mx-auto">
    <h3 class="text-3xl font-bold dark:text-white text-right">Шины и Диски</h3>
    <div class="flex items-center justify-center">
<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Здесь вы найдете гоночные диски и шины, а также редкие позиции в виде old-school дисков.</p>
    <a href="/items/wheels_rims/"><img class="h-auto max-w-lg transition-all duration-300 rounded-lg blur-sm hover:blur-none" src="/media/blog_images/felgi.png" alt="image description"></a>
    </div>

        <h3 class="text-3xl mb-5 font-bold dark:text-white">Автомобили</h3>
<div class="flex items-center justify-center">
    <a href="/items/wheels_rims/"><img class="h-auto mr-5 max-w-lg transition-all duration-300 rounded-lg blur-sm hover:blur-none" src="/media/blog_images/e36.jpeg" alt="image description"></a>
<p class="text-lg  font-normal text-gray-500 lg:text-xl dark:text-gray-400">Раздел предназначен для публикации доработанных, редких или мощных автомобилей. Все объявления проходят модерацию.</p>
</div>

        <h3 class="text-3xl mb-5 font-bold dark:text-white text-right">Услуги</h3>
    <div class="flex items-center justify-center">
<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Кастомные услуги, связанные с настройкой топливных карт, сваркой выхлопов или установкой тюнинг-деталей.</p>
    <a href="/items/wheels_rims/"><img class="h-auto max-w-lg transition-all duration-300 rounded-lg blur-sm hover:blur-none" src="/media/blog_images/ecu.jpeg" alt="image description"></a>
    </div>
    </section>

<div class="md:container md:mx-auto">
<h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl dark:text-white">Календарь с <span class="text-blue-600 dark:text-blue-500">гоночными</span> ивентами.</h2>
</div>



<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
</div>





<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-3xl font-bold title-font mb-2 text-gray-900">Кто Мы?</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Команда любителей Дрифта, Тайм-Аттака и Драг-рейсинга. Этот проект сделан для того, чтобы развивать автоспорт в РБ и дать место, где можно найти:</p>
    </div>
      <div class="flex flex-wrap w-full mb-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-3xl font-bold title-font mb-2 text-gray-900">Разделы сайта</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">В нижеперечисленных карточках Вы найдете основные направления сайта.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/blog_images/felgi.png" alt="wheels & rims">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">СТИЛЬНЫЕ</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font">Шины и Диски</h2>
          <p class="leading-relaxed text-sm">Нестандартные диски и спортивные шины. Как новые, так и б/у.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/blog_images/e36.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">СПОРТИВНЫЕ</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font">Автомобили</h2>
          <p class="leading-relaxed text-sm">К публикации допускаются только доработанные автомобили, либо "заряженные" заводские.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/blog_images/ecu.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">КАСТОМНЫЕ</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font">Услуги</h2>
          <p class="leading-relaxed text-sm">Прошивки ЭБУ, сварка кастомного выхлопа или башбара. Установка выворота и многое другое.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
      <a href="{% url 'blog:blog_index' %}">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="/media/blog_images/22rt.jpeg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">АКТУАЛЬНЫЕ</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font">Новости</h2>
          <p class="leading-relaxed text-sm">Из мира автоспорта РБ. Фотоотчеты, афиши и результаты соревнований.</p>
        </div>
      </a>
      </div>
    </div>
  </div>
</section>




{% endblock %}