{% extends 'core/base.html' %}

{% block title %} Dashboard {% endblock %}
{% block content %}
{% block page_title %}
<div class="container mx-auto">
    <h2 class="text-4xl font-bold dark:text-white">{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}

    <p class="mb-3 text-left rtl:text-right text-gray-500 dark:text-gray-400">
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline" href="{% url 'blog:blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </p>
    <p>{{ post.body | safe }}</p>
</div>
{% endblock page_content %}
{% endblock %}