{% extends 'core/base.html' %}

{% block title %} {{ post.title }} {% endblock %}
{% block content %}
{% block page_title %}

<div class="container mx-auto">
{% endblock page_title %}


{% block page_content %}



<!--<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">-->
  <div class="absolute -z-10 overflow-hidden">
    <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-1 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="">
<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Главная
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="{% url 'blog:blog_index' %}" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Блог</a>
      </div>
    </li>
      <li>
          <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
      {% for category in post.categories.all %}
        <a href="{% url 'blog:blog_category' category.name %}" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"> {{ category.name }}</a>
      {% endfor %}
          </div>
    </li>
      <li>

      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"> {{ post.title }}</a>
      </div>
    </li>
  </ol>
</nav>

  <h1 class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"> {{ post.title }}</h1>
    <div class="flex justify-center items-center">
    <img class="max-w-lg mb-4 mt-4" src="{{ post.image_url|default_if_none:'/media/item_images/default.png' }}">
</div>
    <div class="text-base leading-7 text-gray-700">
    {{ post.body | safe }}


<!--Gallery section -->
<section class="text-gray-600 body-font">
  <div class="container py-6 mx-auto flex flex-wrap">
    <div class="flex w-full mb-10 flex-wrap">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Фотоотчет с мероприятия</h1>
      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/600x360">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/601x361">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End gallery section -->



<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-2 mx-auto">
    <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <a href="{% url 'dashboard:seller_detail' post.post_author.id %}" class="inline-flex items-center">
          <img alt="blog" src="/media/core_images/22rt_logo.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900">{{ post.post_author }}</span>
            <span class="text-gray-400 text-xs tracking-widest mt-0.5">RACING TEAM</span>
          </span>
        </a>
      </div>
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
          <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-gray-200">
            {{ post.created_on.date }}
          </span>
        <a href="like/">
          <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" {% if request.user in post.likes.all %} {% else %} fill="none" {% endif %} viewBox="0 1 22 22" stroke-width="1.5" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path></svg>
              <span class="sr-only">Like</span><p class="ml-1">{{ post.likes.count }}</p></button></span>
        </a>
        <a href="#comments">
          <span class="mb-1 text-gray-400 inline-flex items-center leading-none text-sm">
            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
            </svg>{{ comments.count }}
          </span></a>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="bg-white dark:bg-gray-900 antialiased">
  <div class="max-w-2xl mx-auto px-4 mt-8">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Комментарии ({{ comments.count }})</h2>
    </div>
        <div class="mb-5">
    <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ваш Комментарий</label>
    <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
  </div>
    {% if request.user.is_authenticated %}
    <form method="post" class="mb-6">
        {% csrf_token %}
        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-400 dark:bg-gray-800 dark:border-gray-700">{{ comment_form.body }}</div>
        <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
        <button type="submit" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Отправить
        </button>
    </form>

      {% endif %}
<span id="comments"></span>
  {% for comment in comments %}
    <div class="p-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <div class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <a href="{% url 'dashboard:seller_detail' comment.author.id %}" class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                        class="mr-2 w-6 h-6 rounded-full"
                        src="{{ comment.author.profile.photo.url|default_if_none:'/media/core_images/default.png' }}"
                        alt="{{ comment.author }}">{{ comment.author }}</a>
                <p class="text-sm text-gray-600 dark:text-gray-400"> {{ comment.created_on }}</p>
            </div>
        </div>
        <p class="ml-8 text-gray-700 dark:text-gray-400">{{ comment.body }}</p>

        <div class="flex items-center mt-1 space-x-4">
            <a id="{{ comment.id }}" class="comment-like">
            <button type="button"
                class="ml-8 flex items-center hover:underline text-sm text-gray-500 dark:text-gray-400 font-medium">
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"  {% if request.user in comment.likes.all %} {% else %} fill="none" {% endif %} viewBox="1 0 25 25" stroke-width="1.5" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path></svg>
                 {% if comment.likes.all.count > 0 %} <span class="mr-1">{{ comment.likes.all.count }}</span> {% else %}  {% endif %} <span class="">Лайк</span>
            </button></a>
<!--            <button type="button"-->
<!--                class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400 font-medium">-->
<!--                <svg class="mr-1.5 w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">-->
<!--                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h5M5 8h2m6-3h2m-5 3h6m2-7H2a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h3v5l5-5h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>-->
<!--                </svg>-->
<!--                Ответить-->
<!--            </button>-->
        </div>
    </div>
              {% endfor %}


  </div>
</section>


            </div>
        </div>
      </div>
    </div>

      <!--paste here-->
      <div class="lg:sticky top-0 lg:pr-4">
        <div class="lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            {% for category in post.categories.all %}
            <h2 class="text-xl font-bold tracking-tight text-gray-900 mb-3">Другие посты в категории <a href="{% url 'blog:blog_category' category.name %}" class="font-semibold leading-7 text-indigo-600">{{ category.name }}</a></h2>
            <a class="line-clamp-3 text-sm leading-6 text-gray-600"></a>
            {% endfor %}


            {% for post in related_posts %}
               <div class="p-2 w-full">
                   <a href="{% url 'blog:blogpost_detail' post.slug %}">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                      <img class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-3" src="{{ post.image.url }}">
                      <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">{{ post.title }}</h2>
                        <p class="text-gray-500 text-sm">{{ post.descr | safe | slice:":100" }}...</p>
                      </div>
                    </div>
                   </a>
              </div>
            {% endfor %}

        </div>
      </div>



  </div>
</div>






<script type="text/javascript">
window.CSRF_TOKEN = "{{csrf_token}}"
$(document).on('click', '.comment-like', function(){
    var comment_id = this.id
    $.ajax({
        method:"POST",
        url:`/blog/${comment_id}/comment_like/`,
        data:{comment_id:comment_id, csrfmiddlewaretoken:window.CSRF_TOKEN}
    })
    window.location.href = document.URL
})
</script>





{% endblock page_content %}
{% endblock %}